<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="DbJAV" connectionString="Data Source=Hendryshi\YSISQLSERVER;Initial Catalog=JavLibraryDownload;Persist Security Info=True;User ID=sa;Password=pwd" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="logDebugPath" value="D:\WorkSpace\Logs\AllInOneAV\LogDebug{0}.txt" />
		<add key="logErrorPath" value="D:\WorkSpace\Logs\AllInOneAV\LogError{0}.txt" />
	</appSettings>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>